In [1]:
import numpy as np
import pandas as pd

In [2]:
La_liga=pd.read_csv('Laliga.csv')
Laliga=pd.DataFrame(La_liga)

Reading the data-set and replacing dashes with zero so as to make the set ready for arithmetic operation

In [3]:
Laliga=Laliga.replace('-',0)

Teams which started playing between 1930 and 1980

In [4]:
Laliga['DebutYear']=Laliga['Debut'].astype(str).str[:4]
Laliga['DebutYear']=Laliga['DebutYear'].astype(int)
Debut3080 = Laliga[(Laliga['DebutYear']>1929)&(Laliga['DebutYear']<1981)]
print(Debut3080[['Team','DebutYear']])

                   Team  DebutYear
3              Valencia       1931
5               Sevilla       1934
8              Zaragoza       1939
9            Real Betis       1932
10  Deportivo La Coruna       1941
11           Celta Vigo       1939
12           Valladolid       1948
14       Sporting Gijon       1944
15              Osasuna       1935
16               Malaga       1949
17               Oviedo       1933
18             Mallorca       1960
19           Las Palmas       1951
21              Granada       1941
22       Rayo Vallecano       1977
23                Elche       1959
25             Hercules       1935
26             Tenerife       1961
27               Murcia       1940
28               Alaves       1930
29              Levante       1963
30            Salamanca       1974
31             Sabadell       1943
32                Cadiz       1977
34            Castellon       1941
37              Cordoba       1962
39           Recreativo       1978
40            Burgos CF       1971
41           Pontevedra       1963
46            Gimnastic       1947
49             Alcoyano       1945
50                 Jaen       1953
52           AD Almeria       1979
54               Lleida       1950
57               Condal       1956
58      Atletico Tetuan       1951
59     Cultural Leonesa       1955

List of teams which came top 5 in terms of points

In [5]:
Laliga[["Pos","Points"]]=Laliga[["Pos","Points"]].apply(pd.to_numeric)
Laliga.sort_values('Points', ascending = False)
print(Laliga.loc[0:4,'Team'])

0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference.

In [6]:
Laliga[["GoalsFor","GoalsAgainst"]]=Laliga[["GoalsFor","GoalsAgainst"]].apply(pd.to_numeric)
def Goal_diff_count():
    Laliga['GoalDiff']=Laliga['GoalsFor']-Laliga['GoalsAgainst']
    GDTable=pd.DataFrame()
    GDTable=Laliga[['Team','GoalDiff']]
    print(GDTable)
    MaxGD=GDTable['GoalDiff'].idxmax()
    print(GDTable.loc[MaxGD])
    MinGD=GDTable['GoalDiff'].idxmin()
    print(GDTable.loc[MinGD])
    return
Goal_diff_count()

                   Team  GoalDiff
0           Real Madrid      2807
1             Barcelona      2786
2       Atletico Madrid      1225
3              Valencia       929
4       Athletic Bilbao       931
5               Sevilla       307
6              Espanyol      -280
7         Real Sociedad        -2
8              Zaragoza      -164
9            Real Betis      -333
10  Deportivo La Coruna      -136
11           Celta Vigo      -346
12           Valladolid      -413
13     Racing Santander      -525
14       Sporting Gijon      -399
15              Osasuna      -334
16               Malaga      -342
17               Oviedo      -309
18             Mallorca      -189
19           Las Palmas      -399
20           Villarreal       103
21              Granada      -338
22       Rayo Vallecano      -328
23                Elche      -272
24               Getafe      -113
25             Hercules      -334
26             Tenerife      -125
27               Murcia      -385
28               Alaves      -165
29              Levante      -202
..                  ...       ...
31             Sabadell      -228
32                Cadiz      -269
33             Logrones      -198
34            Castellon      -169
35             Albacete       -90
36              Almeria      -122
37              Cordoba      -145
38           Compostela       -42
39           Recreativo       -94
40            Burgos CF       -94
41           Pontevedra       -56
42             Numancia       -98
43                Eibar       -28
44               Arenas       -81
45          Real Burgos       -38
46            Gimnastic      -114
47          Extremadura       -55
48               Merida       -45
49             Alcoyano      -107
50                 Jaen       -62
51           Real Union       -31
52           AD Almeria       -45
53               Europa       -34
54               Lleida      -112
55              Leganes       -19
56                Xerez       -28
57               Condal       -20
58      Atletico Tetuan       -34
59     Cultural Leonesa       -31
60               Girona         0

[61 rows x 2 columns]
Team        Real Madrid
GoalDiff           2807
Name: 0, dtype: object
Team        Racing Santander
GoalDiff                -525
Name: 13, dtype: object

Create a new column with name “Winning Percent” and append it to the data set

In [7]:
Laliga[["GamesPlayed","GamesWon"]]=Laliga[["GamesPlayed","GamesWon"]].apply(pd.to_numeric)
Laliga['Winning_Percent']=(Laliga['GamesWon']/Laliga['GamesPlayed'])*100
# Complete Table
print(Laliga[['Team','GamesPlayed','Winning_Percent']])
# Top 5 teams by Winning Percent
Laliga.sort_values('Winning_Percent', ascending = False)
print(Laliga.loc[0:4,'Team'])

                   Team  GamesPlayed  Winning_Percent
0           Real Madrid         2762        59.630702
1             Barcelona         2762        57.241130
2       Atletico Madrid         2614        47.475134
3              Valencia         2664        44.557057
4       Athletic Bilbao         2762        43.772629
5               Sevilla         2408        41.112957
6              Espanyol         2626        36.100533
7         Real Sociedad         2302        37.532580
8              Zaragoza         1986        35.146022
9            Real Betis         1728        35.069444
10  Deportivo La Coruna         1530        36.797386
11           Celta Vigo         1698        34.511190
12           Valladolid         1466        31.582538
13     Racing Santander         1428        31.722689
14       Sporting Gijon         1458        32.304527
15              Osasuna         1318        32.321700
16               Malaga         1255        31.075697
17               Oviedo         1192        34.228188
18             Mallorca          988        33.704453
19           Las Palmas         1096        33.485401
20           Villarreal          646        41.176471
21              Granada          742        29.380054
22       Rayo Vallecano          652        28.987730
23                Elche          678        29.941003
24               Getafe          456        32.236842
25             Hercules          628        29.299363
26             Tenerife          494        31.376518
27               Murcia          586        24.744027
28               Alaves          380        32.894737
29              Levante          402        28.109453
..                  ...          ...              ...
31             Sabadell          426        30.281690
32                Cadiz          448        23.214286
33             Logrones          346        27.745665
34            Castellon          334        30.838323
35             Albacete          270        28.148148
36              Almeria          228        27.192982
37              Cordoba          282        29.078014
38           Compostela          160        32.500000
39           Recreativo          186        26.881720
40            Burgos CF          204        28.921569
41           Pontevedra          180        29.444444
42             Numancia          152        24.342105
43                Eibar          114        30.701754
44               Arenas          130        33.076923
45          Real Burgos          114        22.807018
46            Gimnastic          116        29.310345
47          Extremadura           80        25.000000
48               Merida           80        23.750000
49             Alcoyano          108        27.777778
50                 Jaen           90        32.222222
51           Real Union           72        29.166667
52           AD Almeria           68        25.000000
53               Europa           54        33.333333
54               Lleida           68        19.117647
55              Leganes           38        21.052632
56                Xerez           38        21.052632
57               Condal           30        23.333333
58      Atletico Tetuan           30        23.333333
59     Cultural Leonesa           30        16.666667
60               Girona            0              NaN

[61 rows x 3 columns]
0        Real Madrid
1          Barcelona
2    Atletico Madrid
3           Valencia
4    Athletic Bilbao
Name: Team, dtype: object

Group teams based on their “Best position” and print the sum of their points for all positions

In [8]:
Laliga.groupby('BestPosition')['Points'].sum()

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int64