# Titan Insurance Company Case Study

In [1]:
import numpy as np
from scipy.stats import ttest_1samp, ttest_ind, mannwhitneyu, levene, shapiro
from statsmodels.stats.power import ttest_power
import pandas as pd

In [2]:
titan=pd.read_csv("Titan_Insurance.csv")

Converting the Data from Thousands, and dropping the earlier columns

In [3]:
titan['Old']=titan['Old Scheme (in thousands)']*1000
titan['New']=titan['New Scheme (in thousands)']*1000

In [4]:
titan = titan.drop('Old Scheme (in thousands)',1)
titan = titan.drop('New Scheme (in thousands)',1)

In [5]:
titan.head()

   SALESPERSON     Old     New
0            1   57000   62000
1            2  103000  122000
2            3   59000   54000
3            4   75000   82000
4            5   84000   84000

# Q1. Find the mean of old scheme and new scheme column.

In [6]:
# Mean of old scheme
print("Mean of the Old Scheme was", titan['Old'].mean())
# Mean of new scheme
print("Mean of the New Scheme is", titan['New'].mean())

Mean of the Old Scheme was 68033.33333333333
Mean of the New Scheme is 72033.33333333333

# Q2. Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs?

Null Hypothesis: Mean of Old Scheme = Mean of New Scheme
Alternate Hypothesis: Mean of Old Scheme < Mean of New Scheme

We need to apply 2-sample paired t-test (which is the same test as a one sample t-test in Scipy) to determine if new scheme has significantly increase output

In [7]:
t_statistic, p_value = ttest_1samp(titan['New']-titan['Old'], 0)
print(t_statistic, p_value)

1.5559143823544377 0.13057553961337662

# Q3. What conclusion does the test (p-value) lead to?

The p-value of 0.13 is greater than 0.05, which means that we fail to reject the null hypothesis. This means that the New Scheme hasn't significantly raised the outputs

# Q4. Suppose it has been calculated that in order for Titan to break even, the average output must increase by Â£5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:
a) The probability of a type 1 error?
b) What is the p- value of the hypothesis test if we test for a difference of $5000?
c) Power of the test

# Probability of Type-1 error

Since Confidence interval 95%, alpha is .05, so probability of Type-I error is 5%

# What is the p- value of the hypothesis test if we test for a difference of 5000

In [8]:
t_statistic, p_value = ttest_1samp(titan['New']-titan['Old'], 4999)
print(t_statistic, p_value)

-0.3885896169930208 0.7004181054085257

Since p_value is greater than 0.05, we fail to reject the null hypothesis that the difference of means is less than 5000

# Power of the test

Since number of degrees is 29 (30-1) and alpha is 0.05, t_critical is 1.6991

In [9]:
pre = titan['Old']
post = titan['New']
(np.mean(pre) - np.mean(post)) / np.sqrt(((30-1)*np.var(pre)+(30-1)*np.var(post)) /(30+30-2))

-0.18217632044690088

In [10]:
print(ttest_power(-0.1821763, nobs=30, alpha=0.05))

0.1616094483851767

Power of test is 0.16